*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(57, 57, 57);
}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    
}
.slidercontainer{
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
        
}
.slider{
    width: 100%;
    display: flex;
    transition: 0.7s ease-in-out;
}
button{
    position: absolute;
    top: 47%;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.252);
    color: #fff;
}

.prev {
    left: 10px;
}

.next{
    right: 10px;
}

.slider img{
    min-width: 100%;
}